
node_modules/
npm-debug.log
yarn-error.log


build/
dist/
*.log
*.env


/.vite/

/.parcel-cache/
/.parcel-cache
/dist/


/.cache/
/public/build/


.vscode/
.idea/


.DS_Store
Thumbs.db


.env.local
.env.development.local
.env.test.local
.env.production.local


/pnpm-debug.log
.pnpm/
pnpm-lock.yaml


.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
!.pnp.*

/dist/


*.log
*.raw
*.sass-cache
*.scssc
*.stab
*.swp
*.sass
*.scc
*.gitkeep


.cache/
.caches/


logs/
*.log
*.sqlite
*.log.*
